<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<title>Daily Planet</title>
		
		<link type = "text/css" rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link type = "text/css" rel = "stylesheet" href = "css/NewsStyle.css">
	</head>
	<body>
		<div id = "container">
			<div id = "header">
				<div class = "logoCont" "align = "center"><img src = "img/DailyPlanetLogo.png" width = "80%" height = "150px"></div>
					<div class = "navigation">
						<a href = "index.php">Home</a>
						<a href = "index.php?action=addArticle">Add Article</a>
					</div>
			</div>